# Normalize line endings
* text=auto

# Explicitly declare text files
*.md text
*.yml text
*.yaml text
*.json text
*.ts text
*.tsx text
*.js text
*.sh text eol=lf

# Denote binary files
*.png binary
*.jpg binary
*.gif binary

# Linguist overrides
*.md linguist-documentation
